<p>The average temp for the range you selected is</p>
<%= @average_temp %>°F

<p>The average high temperature for the range you selected is</p>
<%= @high %>°F

<p>The average low temperature for the range you selected is</p>
<%= @low %>°F
